# Dependencies
node_modules/

# Build output
dist/
out/
build/
*.exe
*.dmg
*.AppImage

# Electron build cache
.cache/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local
